/* Media Queries */
/* Variables (Fonts and Colors) */
/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google Fonts (Font: Jersey + JetBrains Mono) */
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
/* Fonts */
/* Colors */
/* Shadows */
/* Custom Classes */
.tooltip-custom {
  --bs-tooltip-bg: rgba(17, 24, 39, 0.9);
  --bs-tooltip-color: #ffffff;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Animations */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Base Styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #020617;
  background-image: linear-gradient(rgba(0, 255, 153, 0.2) 0.6px, transparent 0.6px), linear-gradient(90deg, rgba(0, 255, 153, 0.2) 0.6px, transparent 0.6px);
  background-size: 50px 50px;
  background-attachment: fixed;
  animation: bg-scrolling-reverse 1.5s linear infinite;
}
body .container {
  background: #0C0C0C;
}
body .container header nav {
  background: #111827;
}
body .container header nav h1 {
  color: #ffffff;
  font-family: "Jersey 10", sans-serif;
  font-size: 3rem;
  line-height: 1;
}
body .container header nav h1 .initials {
  color: #00ff99;
}
body .container header nav ul {
  list-style: none;
}
body .container header nav ul a {
  background: #ffffff;
  color: #0C0C0C;
  text-decoration: none;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}
@media (min-width: 375px) and (max-width: 767px) {
  body .container header nav ul a {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 374px) {
  body .container header nav ul a {
    width: 35px;
    height: 35px;
  }
}
body .container header nav ul a:hover {
  transform: scale(1.15);
  background: #00ff99;
}
body .container main .about {
  background: #111827;
  color: #ffffff;
}
body .container main .about h3 {
  font-family: "Jersey 10", sans-serif;
  font-size: 3.5rem;
}
@media (min-width: 375px) and (max-width: 767px) {
  body .container main .about h3 {
    font-size: 3rem;
  }
}
@media (max-width: 374px) {
  body .container main .about h3 {
    font-size: 2.5rem;
  }
}
body .container main .about p {
  font-family: "JetBrains Mono", monospace;
  text-align: justify;
  text-justify: inter-word;
}
@media (min-width: 375px) and (max-width: 767px) {
  body .container main .about p {
    font-size: 1rem;
    text-align: left;
    max-width: 90%;
  }
}
@media (max-width: 374px) {
  body .container main .about p {
    font-size: 0.9rem;
    text-align: left;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }
}
body .container main .about .search-element {
  color: #00ff99;
  font-family: "JetBrains Mono", monospace;
  border: 2px solid #00ff99;
}
body .container main .skills h3 {
  color: #ffffff;
  font-family: "Jersey 10", sans-serif;
  font-size: 3rem;
}
@media (min-width: 375px) and (max-width: 767px) {
  body .container main .skills h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 374px) {
  body .container main .skills h3 {
    font-size: 2.5rem;
  }
}
body .container main .skills .icons img {
  background: #111827;
  padding: 5px;
  width: 65px;
}
@media (min-width: 375px) and (max-width: 767px) {
  body .container main .skills .icons img {
    width: 50px;
  }
}
@media (max-width: 374px) {
  body .container main .skills .icons img {
    width: 50px;
  }
}
body .container main .education {
  background: #111827;
  color: #ffffff;
}
body .container main .education h3 {
  color: #ffffff;
  font-family: "Jersey 10", sans-serif;
  font-size: 3rem;
}
@media (min-width: 375px) and (max-width: 767px) {
  body .container main .education h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 374px) {
  body .container main .education h3 {
    font-size: 2.5rem;
  }
}
body .container main .education .card {
  background: #111827;
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
  width: 25rem;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.6);
}
body .container main .education .card p {
  font-size: 0.8rem;
}
body .container main .education .card .progress .progress-bar {
  background-color: #00ff99;
  color: #0C0C0C;
}
body .container main .education .swiper-button-prev,
body .container main .education .swiper-button-next {
  color: #00ff99;
  opacity: 0.5;
}
body .container main .education .swiper-pagination-bullet-active {
  background-color: #00ff99;
  opacity: 1;
}
body .container main .hire {
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
}
body .container main .hire h3 {
  color: #ffffff;
  font-family: "Jersey 10", sans-serif;
  font-size: 3rem;
}
@media (min-width: 375px) and (max-width: 767px) {
  body .container main .hire h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 374px) {
  body .container main .hire h3 {
    font-size: 2.5rem;
  }
}
body .container main .hire a {
  background: #ffffff;
  color: #0C0C0C;
  font-family: "JetBrains Mono", monospace;
  width: 300px;
  padding: 0.5rem 1rem;
  padding-left: 3rem;
  transition: 0.2s ease-in-out;
}
body .container main .hire a i {
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}
body .container main .hire a:hover, body .container main .hire a:active {
  background-color: #00ff99;
  transform: scale(1.05);
}
body .container main .projects {
  background: #111827;
}
body .container main .projects h3 {
  color: #ffffff;
  font-family: "Jersey 10", sans-serif;
  font-size: 3rem;
}
@media (min-width: 375px) and (max-width: 767px) {
  body .container main .projects h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 374px) {
  body .container main .projects h3 {
    font-size: 2.5rem;
  }
}
body .container main .projects .window .window-header {
  background-color: #2b2b2b;
  color: #ffffff;
}
body .container main .projects .window .window-header .btn-window-custom {
  border-radius: 0;
  background-color: transparent;
}
body .container main .projects .window .window-header .btn-window-custom i {
  color: #ffffff;
}
body .container main .projects .window .window-header .btn-window-custom:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
body .container main .projects .window .window-header .btn-close-custom {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
}
body .container main .projects .window .window-header .btn-close-custom i {
  color: #ffffff;
}
body .container main .projects .window .window-header .btn-close-custom:hover {
  background-color: #e81123;
}
body .container main .projects .window .window-header .window-title {
  background: #0C0C0C;
}
body .container main .projects .window .window-header .window-title p {
  font-family: "Jersey 10", sans-serif;
}
body .container main .projects .window .window-body {
  background: #0C0C0C;
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.8rem;
}
body .container main .projects .window .window-body .project:nth-child(1) {
  transition-delay: 0.2s;
}
body .container main .projects .window .window-body .project:nth-child(3) {
  transition-delay: 0.4s;
}
body .container main .projects .window .window-body .project:nth-child(5) {
  transition-delay: 0.6s;
}
body .container main .projects .window .window-body .project .project-title,
body .container main .projects .window .window-body .project a {
  color: #00ff99;
}
body .container footer {
  background: #111827;
  color: #ffffff;
  font-family: "JetBrains Mono", monospace;
}
body .container footer p {
  font-size: 0.9rem;
}
@media (min-width: 375px) and (max-width: 767px) {
  body .container footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 374px) {
  body .container footer p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */